*{
    --blue: #48c1bd; 
    --red: #fc2c00;
    --h: 'Rain';
    --texto: 'Roboto';
    --ctexto: #1c4348;
}


/*Fuentes*/
@font-face {
    font-family: 'Rain';
    src: url(../fonts/AYearWithoutRain.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/RobotoSlab-Light.ttf) format('truetype'); /*Si veo que no se entiende bien, lo hago con el regular*/
    font-style: normal;
}

.lista{
    text-align: left;
    font-family: var(--texto), sans-serif;
    margin-left: 40%;
    overflow-wrap: break-word;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    color: var(--ctexto);
}

.list{
  text-align: left;
  font-family: var(--texto), sans-serif;
  margin-left: 20%;
  margin-right: 25%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--ctexto);
  float: left;
}
.body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #dbe9e9;
}

.body .containerLeft {
    width: 55%;
    height: auto;
    margin: 1 auto;
    float: left;
    padding-bottom: 20px;
}

.body h2{
    font-family: var(--h), sans-serif;
    color: var(--red);
    font-size: 1.8em;
    text-align: center;
}


.containerLeft p, .containerRight p, .containerLeft li, .containerRight li, .body p{
    font-family: var(--texto), sans-serif;
    margin-left: 20px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
    color: var(--ctexto);
    padding-left: 20px;
    padding-right: 20px;
}
.containerLeft li, .containerRight li{
    text-align:left;
}

.body .containerRight {
    width: 55%;
    height: auto;
    margin: 1 auto;
    float: right;
    padding-bottom: 20px;
}

.containerLeft a:link, .containerRight a:link, .body p a:link, .lista a:link, .list a:link{
    color: var(--red);
	TEXT-DECORATION: none;
}

.containerLeft a:visited, .containerRight a:visited, .body p a:visited, .lista a:visited, .list a:visited{
    color: var(--red);
	TEXT-DECORATION: none
}

.containerLeft a:hover, .containerRight a:hover, .body p a:hover, .lista a:hover, .list a:hover{ 
    color: var(--red);
	TEXT-DECORATION:underline;
}


.logo a{
    color: var(--blue);
    text-decoration: none;
}


.migasPan{
    font-size: 13px; 
    padding-left: 20px;
}

.migasPan a::after{
    content: ">";
    padding-left: 5px;
    padding-right: 5px;
}

.migasPan a:last-child::after{
    content: "";
}

.migasPan a::backdrop{
    content: "";
}

.migasPan a::before{
    content: "";
}

.migasPan a:link{
    color: black;
    text-decoration: none;
}

.migasPan a:visited{
    COLOR:#666666; 
	TEXT-DECORATION: none
}

.footer a:hover { 
	COLOR: #fc2c00;
	TEXT-DECORATION:underline;
}
 

.container{
    padding-top: 50px;
    position: relative;
    width: all;
    height: auto;
    margin: 1 auto;
    float: center;
    padding-bottom: 50px;
}

.containerN{
    position: relative;
    width: 100%;
    height: 1100px;
    margin: 1 auto;
}

.titulo{
    font-family: var(--h), sans-serif;
    color: var(--red);
    font-size: 3em;
    text-align: center;
}

.containerPo{
    width:100%;
    height: 0px;
}

h1{
    font: 40px var(--h), sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}



.r{
    float: right;
    padding-right: 10%;
    padding-left: 50px;
    margin: 1 auto;
    padding-bottom: 150px;
}

.l{
    float: left;
    padding-left: 10%;
    margin: 1 auto;
    padding-bottom: 150px;
    padding-right: 50px;
}

.table img{
    padding-left: 15px;
    padding-right: 15px;
    width: 272px;
    height: 272px;
}

/* only animate if the device supports hover */
@media (hover: hover) {
    #creditcard {
      /*  set start position */
      transform: translateY(110px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    #money {
      /*  set start position */
      transform: translateY(180px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    button:hover #creditcard {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
      /*  overide transition for mouse enter */
    }
  
    button:hover #money {
      transform: translateY(0px);
      transition: transform 0.3s ease-in-out;
      /*  overide transition for mouse enter */
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
  }
  
  /* styling */
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: purple;
    padding: 1rem 90px 1rem 2rem;
    position: relative;
    border-radius: 8px;
    letter-spacing: 0.7px;
    background-color: #5086bd;
    color: #fff;
    font-size: 21px;
    font-family: var(--texto), sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  }
  
  .button:active {
    transform: translateY(1px);
  }
  
  .button__svg {
    position: absolute;
    overflow: visible;
    bottom: 6px;
    right: 0.2rem;
    height: 140%;
  }

  table .td{
      border: hidden;
      padding-left: 18.5px;
      padding-right: 18.5px;
  }
  


  /*Equipo*/
  .flexbox-container {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
  }

  .flexbox-container-inside {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .flexbox-container-inside h3{
    font-family: var(--texto), sans-serif;
    color: var(--red);
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
  }

  .flexbox-container-inside h4{
    font-family: var(--texto), sans-serif;
    color: var(--ctexto);
    font-size: 0.8em;
    text-align: center;
}

.flexbox-container-consL {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    width: 45%;
    float: left;
    padding-left: 200px;
    padding-right: 500px;
  }

  .flexbox-container-consR {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    width: 45%;
    float: right;
    padding-left: 50px;
    padding-right: 200px;
  }

  .containerAux{
    position: relative;
    width: 100%;
    height: 1300px;
    margin: 1 auto;
}

.demo {
    border:1px sólido #C0C0C0;
    border-collapse:colapso;
    padding:5px;
    float: center;
}
.demo th {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#fbfbfb;
}
.demo td {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#dbe9e9;
}

.demo .th1, .demo .td1{
    border:2px sólido #C0C0C0;
    padding:5px;
    background:#9ce876;
}

.demo .th2, .demo .td2{
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#f24a32;
}

.containerTabla{
    display: inline-flex;
    width:100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: center;
    padding-bottom: 70px;
}

.containerButton{
    display: inline-flex;
    width:100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: center;
    padding-bottom: 50px;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
    float: center;
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }



.containerTabla td{
    border: hidden;
    padding-left: 18.5px;
    padding-right: 18.5px;
    text-align: center;
}

.containerTabla h3{
    font-family: var(--texto), sans-serif;
    color: var(--red);
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.containerTabla h4{
    font-family: var(--texto), sans-serif;
    color: var(--ctexto);
    font-size: 1em;
    text-align: center;
    padding-bottom: 30px;
}

.containerTabla td img{
    clip-path: circle();
}

.containerEmp{
  display: inline-flex;
  width:100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  float: center;
  padding-bottom: 10px;
}


.tituloLegal{
  font-weight: bold;
  font-size: 2em;
  font-family: var(--texto), sans-serif;
  color: var(--ctexto);
  margin-left: 20px;
}

.tituloLegalG{
  font-weight: bold;
  font-size: 2.5em;
  font-family: var(--texto), sans-serif;
  color: var(--ctexto);
  margin-left: 1;
}


.li{
  text-align: left;
  font-family: var(--texto), sans-serif;
  margin-left: 20%;
  margin-right: 15%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  color: var(--ctexto);
  float: left;
}

.containerLegal{
  display: inline-flex;
  width:100%;
  height: auto;
  justify-content: left;
  align-items: left;
  align-content: left;
  float: left;
  padding-bottom: 10px;
}