<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 
  <body class="body">
    <div class="containerP">
        Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
      <header class="header">
          
  
        <div class="logo">
          <a href="./index.html"><img src="../images/icono.png" alt="" width="50" height="70">
          JuegaTerapia</a>
        </div>

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <ul class="menu">
          <div class="dropdown">
            <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
            <div class="dropdown-content">
              <div class="line">
                <a href="./nosotros.html">Nosotros</a>
              </div>
              <div class="line">
                <a href="./equipo.html">Nuestro Equipo</a>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
            <div class="dropdown-content">
              <div class="line">
                <a href="./persona.html">¡Soy una persona!</a>
              </div>
              <div class="line">
                <a href="./donar.html">Quiero Donar</a>
              </div>
              <div class="line">
                <a href="./empresa.html">¡Soy una empresa!</a>
              </div>
              <div class="line">
                <a href="./escuela.html">¡Soy una escuela!</a>
              </div>
            </div>
          </div>
          <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
          <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
        </ul>
      </header>
      </div>
  
      <h1>Nuestro Equipo</h1>
      <hr color="#fc2c00">

      <h3 class="titulo">Equipo</h3>

      <div class="containerTabla">
        <table style="border: hidden;">
          <tr>
            <td>
              <img src="../images/e-monica.jpg" alt="Mónica Esteban" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-valle.jpg" alt="Valle Sallés" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-amaya.jpg" alt="Amaya Martín" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-eva.png" alt="Eva Quevedo" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-anna.jpg" alt="Anna Rubau" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Mónica Esteban</h3>
            </td>
            <td>
              <h3>Valle Sallés</h3>
            </td>
            <td>
              <h3>Amaya Martín</h3>
            </td>
            <td>
              <h3>Eva Quevedo</h3>
            </td>
            <td>
              <h3>Anna Rubau</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Presidenta, Fundadora y <br>Directora General</h4>
            </td>
            <td>
              <h4>Vicepresidenta</h4>
            </td>
            <td>
              <h4>Secretaria del Patronato</h4>
            </td>
            <td>
              <h4>Cofundadora, Directora de <br>Contenidos y Redes</h4>
            </td>
            <td>
              <h4>Directora de Marketing</h4>
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/e-mariaj.jpg" alt="María José Jara" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-esther.jpg" alt="Esther Pereira" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-ivan.jpg" alt="Ivan Rodríguez Urgel" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-patri.jpg" alt="Patricia Lezameta" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-mercedes.jpg" alt="Mercedes Cavanilles" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>María José Jara</h3>
            </td>
            <td>
              <h3>Esther Pereira</h3>
            </td>
            <td>
              <h3>Ivan Rodríguez Urgel</h3>
            </td>
            <td>
              <h3>Patricia Lezameta</h3>
            </td>
            <td>
              <h3>Mercedes Cavanilles</h3>
            </td>
          </tr>
          <tr>
            <td>
              <h4>Directora de Proyectos <br>y Eventos</h4>
            </td>
            <td>
              <h4>Directora Humanización <br>de Hospitales</h4>
            </td>
            <td>
              <h4>Director de Medios Digitales <br>y Voluntariado</h4>
            </td>
            <td>
              <h4>Responsable de Distribución</h4>
            </td>
            <td>
              <h4>Responsable de Gestión <br>de Socios</h4>
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/e-mar.jpg" alt="Mar Martinez" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-laura.jpg" alt="Laura Espinosa" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-silvia.jpg" alt="Silvia Jimenez" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-carmen.jpg" alt="Carmen Vázquez" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-elena.jpg" alt="Elena Morán" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Mar Martinez</h3>
            </td>
            <td>
              <h3>Laura Espinosa</h3>
            </td>
            <td>
              <h3>Silvia Jimenez</h3>
            </td>
            <td>
              <h3>Carmen Vázquez</h3>
            </td>
            <td>
              <h3>Elena Morán</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Administración</h4>
            </td>
            <td>
              <h4>Coordinadora de Familias</h4>
            </td>
            <td>
              <h4>Asistente Redes Sociales</h4>
            </td>
            <td>
              <h4>Responsable de Centros <br>Educativos y Alianzas</h4>
            </td>
            <td>
              <h4>Especialista en Neurodesarrollo</h4>
            </td>
          </tr>
          <tr>
            <td>
              <img src="../images/e-belen.jpg" alt="Belén Solera" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-jsa.png" alt="Jose Antonio Madrid" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-vanesa.jpg" alt="Vanesa Arranz" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-patricia.jpeg" alt="Patricia Vicente" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-vero.jpg" alt="Veronica Garrudo" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Belén Solera</h3>
            </td>
            <td>
              <h3>Jose Antonio Madrid</h3>
            </td>
            <td>
              <h3>Vanesa Arranz</h3>
            </td>
            <td>
              <h3>Patricia Vicente</h3>
            </td>
            <td>
              <h3>Veronica Garrudo</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Directora Relaciones <br>Instituciones</h4>
            </td>
            <td>
              <h4>Director Creativo</h4>
            </td>
            <td>
              <h4>Responsable Almacén</h4>
            </td>
            <td>
              <h4>Directora Expansión <br>Internacional</h4>
            </td>
            <td>
              <h4>Administración</h4>
            </td>
          </tr>
        </table>
      </div>

      <h3 class="titulo">Nuestro patronato</h3>

      <div class="containerTabla">
        <table style="border: hidden;">
          <tr>
            <td>
              <img src="../images/e-monica.jpg" alt="Mónica Esteban" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-valle.jpg" alt="Valle Sallés" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-amaya.jpg" alt="Amaya Martín" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-ines.jpg" alt="Ines Fontes" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-jsm.png" alt="José María Ruiz" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-jp.jpg" alt="Juan Pablo Rodríguez" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Mónica Esteban</h3>
            </td>
            <td>
              <h3>Valle Sallés</h3>
            </td>
            <td>
              <h3>Amaya Martín</h3>
            </td>
            <td>
              <h3>Ines Fontes</h3>
            </td>
            <td>
              <h3>José María Ruiz</h3>
            </td>
            <td>
              <h3>Juan Pablo Rodríguez</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Presidenta, Fundadora y <br>Directora General</h4>
            </td>
            <td>
              <h4>Vicepresidenta</h4>
            </td>
            <td>
              <h4>Secretaria del Patronato</h4>
            </td>
            <td>
              <h4>Patrona</h4>
            </td>
            <td>
              <h4>Patrono</h4>
            </td>
            <td>
              <h4>Patrono</h4>
            </td>
          </tr>
        </table>
      </div>

      <h3 class="titulo">Nuestro consejo asesor</h3>
      <div class="containerTabla">
        <table style="border: hidden;">
          <tr>
            <td>
              <img src="../images/e-danto.jpeg" alt="Don Antonio Urcelay Alonso" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-dlucia.jpeg" alt="Doña Lucía Urbán López" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-djm.jpeg" alt="Don Juan Manuel González Serna" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/e-doc.jpeg" alt="Doctor Don Luis Madero López" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Don Antonio Urcelay Alonso</h3>
            </td>
            <td>
              <h3>Doña Lucía Urbán López</h3>
            </td>
            <td>
              <h3>Don Juan Manuel González Serna</h3>
            </td>
            <td>
              <h3>Doctor Don Luis Madero López</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Abogado</h4>
            </td>
            <td>
              <h4>Vicepresidenta Grupo Siro</h4>
            </td>
            <td>
              <h4>Presidente Grupo Siro</h4>
            </td>
            <td>
              <h4>Doctor</h4>
            </td>
          </tr>
        </table>
      </div>



      <h3 class="titulo">Nuestro patrono de honor</h3>
      <div class="containerTabla">
        <table style="border: hidden;">
          <tr>
            <td>
              <img src="../images/e-ph.jpg" alt="Mario Alonso Puig" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Mario Alonso Puig</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Patrono de Honor</h4>
            </td>
          </tr>
        </table>
      </div>





      <footer class="footer">
        <div class="footer__addr">
          <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
              
          <h3>Contacto</h3>
          
          <address>
            Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
            <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
            <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h3 class="nav__title">¿Quiénes somos?</h3>
      
            <ul class="nav__ul">
              <li>
                <a href="./nosotros.html">Nosotros</a>
              </li>
      
              <li>
                <a href="./equipo.html">Nuestro Equipo</a>
              </li>
                
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">¿Cómo colaborar?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./persona.html">¡Soy una Persona!</a>
              </li>
      
              <li>
                <a href="./donar.html">Quiero Donar</a>
              </li>
                  
              <li>
                <a href="./empresa.html">¡Soy una Empresa!</a>
              </li>
  
              <li>
                <a href="./escuela.html">¡Soy una Escuela!</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h3 class="nav__title">¿Qué hacemos?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./proyectos.html">Nuestros Proyectos</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">Legal</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./privacidad.html">Política de Privacidad</a>
              </li>
              
              <li>
                <a href="./tuso.html">Términos de Uso</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h3 class="nav__title">Redes Sociales</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./tuso.html"><img src="https://www.facebook.com/juegaterapia" alt="Facebook"></a>
              </li>
  
              <li>
                <a href="./privacidad.html"><img src="https://www.instagram.com/juegaterapiaOrg/" alt="Instagram"></a>
              </li>
              
              <li>
                <a href="./tuso.html"><img src="https://twitter.com/juegaterapia" alt="Twitter"></a>
              </li>
  
              <li>
                <a href="./tuso.html"><img src="https://es.linkedin.com/company/juegaterapia" alt="LinkedIn"></a>
              </li>
  
              <li>
                <a href="./tuso.html"><img src="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA" alt="Youtube"></a>
              </li>
              
            </ul>
          </li>
        </ul>
      </footer>
  </body>
</html>




