<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 
  <body class="body">
    <div class="containerP">
        Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
        <header class="header">
          
  
            <div class="logo">
              <a href="./index.html"><img src="../images/icono.png" alt="" width="50" height="70">
              JuegaTerapia</a>
            </div>
    
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    
            <ul class="menu">
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./nosotros.html">Nosotros</a>
                  </div>
                  <div class="line">
                    <a href="./equipo.html">Nuestro Equipo</a>
                  </div>
                </div>
              </div>
    
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./persona.html">¡Soy una persona!</a>
                  </div>
                  <div class="line">
                    <a href="./donar.html">Quiero Donar</a>
                  </div>
                  <div class="line">
                    <a href="./empresa.html">¡Soy una empresa!</a>
                  </div>
                  <div class="line">
                    <a href="./escuela.html">¡Soy una escuela!</a>
                  </div>
                </div>
              </div>
              <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
              <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
            </ul>
          </header>
      </div>
  
      <div class="migasPan">
        <a href="./index.html">Inicio</a> <a style="font-weight: bold">¡Soy una Escuela!</a>
      </div>

      <h1>¡Soy una Escuela!</h1>
      <hr color="#fc2c00">








      <footer class="footer">
        <div class="footer__addr">
          <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
              
          <h3>Contacto</h3>
          
          <address>
            Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
            <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
            <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h3 class="nav__title">¿Quiénes somos?</h3>
      
            <ul class="nav__ul">
              <li>
                <a href="./nosotros.html">Nosotros</a>
              </li>
      
              <li>
                <a href="./equipo.html">Nuestro Equipo</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">¿Cómo colaborar?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./persona.html">¡Soy una Persona!</a>
              </li>
      
              <li>
                <a href="./donar.html">Quiero Donar</a>
              </li>
                  
              <li>
                <a href="./empresa.html">¡Soy una Empresa!</a>
              </li>
  
              <li>
                <a href="./escuela.html">¡Soy una Escuela!</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h3 class="nav__title">¿Qué hacemos?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./proyectos.html">Nuestros Proyectos</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">Legal</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./privacidad.html">Política de Privacidad</a>
              </li>
              
              <li>
                <a href="./tuso.html">Términos de Uso</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h3 class="nav__title">Redes Sociales</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./tuso.html"><img src="https://www.facebook.com/juegaterapia" alt="Facebook"></a>
              </li>
  
              <li>
                <a href="./privacidad.html"><img src="https://www.instagram.com/juegaterapiaOrg/" alt="Instagram"></a>
              </li>
              
              <li>
                <a href="./tuso.html"><img src="https://twitter.com/juegaterapia" alt="Twitter"></a>
              </li>
  
              <li>
                <a href="./tuso.html"><img src="https://es.linkedin.com/company/juegaterapia" alt="LinkedIn"></a>
              </li>
  
              <li>
                <a href="./tuso.html"><img src="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA" alt="Youtube"></a>
              </li>
              
            </ul>
          </li>
        </ul>
      </footer>
  </body>
</html>