<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 
  <body class="body">
    <div class="containerP">
        Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
        <header class="header">
          
  
            <div class="logo">
              <a href="./index.html"><img src="../images/icono.png" alt="" width="50" height="70">
              JuegaTerapia</a>
            </div>
    
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    
            <ul class="menu">
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./nosotros.html">Nosotros</a>
                  </div>
                  <div class="line">
                    <a href="./equipo.html">Nuestro Equipo</a>
                  </div>
                </div>
              </div>
    
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./persona.html">¡Soy una persona!</a>
                  </div>
                  <div class="line">
                    <a href="./donar.html">Quiero Donar</a>
                  </div>
                  <div class="line">
                    <a href="./empresa.html">¡Soy una empresa!</a>
                  </div>
                  <div class="line">
                    <a href="./escuela.html">¡Soy una escuela!</a>
                  </div>
                </div>
              </div>
              <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
              <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
            </ul>
          </header>
      </div>
  
      <div class="migasPan">
        <a href="./index.html">Inicio</a> <a style="font-weight: bold">¡Soy una Escuela!</a>
      </div>

      <h1>¡Soy una Escuela!</h1>
      <hr color="#fc2c00">
      <p>Una de las cosas que más nos gustan es hacer eventos en colegios ya que es importante que los peques jueguen juntos 
        ¡Sin importar nada!. Por eso hacemos una gran cantidad aventuras que gustan tanto a los pequeñines como a los profesores.
      </p>

      <div class="containerEsp">
        <ul>
          <li class="list">Jornadas Gastronómicas: Chocolatada , Paellas, Bizcochos, Brochetas Solidarias</li>
          <li class="list">Jornadas Puertas Abiertas</li>
          <li class="list">Conciertos Musicales</li>
          <li class="list">Eventos Deportivos: Carrera, Partidos de Fútbol, Baloncesto</li>
          <li class="list">Funciones Teatrales</li>
        </ul>
      </div>

      <p>También aceptamo sugerencias. Por lo que sí formas parte de una guardería, colegio, universidad o AMPA y 
        quieres que te informemos, no dudes en enviarle un correo a nuestra compañera <a href="mailto:carmenvazquez@juegaterapia.org.">Carmen Vázquez</a>
      </p>

      <p>También damos medallas a los colegios con los que hacemos actividades ya que queremos que la gente que sepa
        que es un buen <b>Colegio Solidario</b>
      </p>

      <div class="containerTabla">
        <table style="border: hidden; padding-bottom: 60px; padding-top: 80px">
          <tr>
            <td>
              <img src="../images/colegio-1.png" alt="Colegio 1 año" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/colegio-2.png" alt="Colegio 2 años" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/colegio-3.png" alt="Colegio 3 años" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/colegio-4.png" alt="Colegio 4 años" width="200px" height="200px">
            </td>
          </tr>
        </table>
      </div>








      <footer class="footer">
        <div class="footer__addr">
          <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
              
          <h3>Contacto</h3>
          
          <address>
            Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
            <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
            <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h3 class="nav__title">¿Quiénes somos?</h3>
      
            <ul class="nav__ul">
              <li>
                <a href="./nosotros.html">Nosotros</a>
              </li>
      
              <li>
                <a href="./equipo.html">Nuestro Equipo</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">¿Cómo colaborar?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./persona.html">¡Soy una Persona!</a>
              </li>
      
              <li>
                <a href="./donar.html">Quiero Donar</a>
              </li>
                  
              <li>
                <a href="./empresa.html">¡Soy una Empresa!</a>
              </li>
  
              <li>
                <a href="./escuela.html">¡Soy una Escuela!</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h3 class="nav__title">¿Qué hacemos?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./proyectos.html">Nuestros Proyectos</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">Legal</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./privacidad.html">Política de Privacidad</a>
              </li>
              
              <li>
                <a href="./tuso.html">Términos de Uso</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h3 class="nav__title">Redes Sociales</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="https://www.facebook.com/juegaterapia"><img src="../images/i-facebook.png" alt="Facebook" width="30" height="30">Facebook</a>
              </li>
  
              <li>
                <a href="https://www.instagram.com/juegaterapiaOrg/"><img src="../images/i-instagram.png" alt="Instagram" width="30" height="30">Instagram</a>
              </li>
              
              <li>
                <a href="https://twitter.com/juegaterapia"><img src="../images/i-twitter.png" alt="Twitter" width="30" height="30">Twitter</a>
              </li>
  
              <li>
                <a href="https://es.linkedin.com/company/juegaterapia"><img src="../images/i-linkedin.png" alt="LinkedIn" width="30" height="30">LinkedIn</a>
              </li>
  
              <li>
                <a href="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA"><img src="../images/i-youtube.png" alt="Youtube" width="30" height="30">Youtube</a>
              </li>
              
            </ul>
          </li>
        </ul>
      </footer>
  </body>
</html>