<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/carrusel.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 

  

  <body class="body">

    <div class="containerP">
      Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
      <header class="header">
          
  
        <div class="logo">
          <img src="../images/icono.png" alt="" width="50" height="70">
          JuegaTerapia
        </div>

        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

        <ul class="menu">
          <div class="dropdown">
            <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
            <div class="dropdown-content">
              <div class="line">
                <a href="./nosotros.html">Nosotros</a>
              </div>
              <div class="line">
                <a href="./equipo.html">Nuestro Equipo</a>
              </div>
              <div class="line">
                <a href="./premios.html">Nuestros Premios</a>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
            <div class="dropdown-content">
              <div class="line">
                <a href="./persona.html">¡Soy una persona!</a>
              </div>
              <div class="line">
                <a href="./donar.html">Quiero Donar</a>
              </div>
              <div class="line">
                <a href="./empresa.html">¡Soy una empresa!</a>
              </div>
              <div class="line">
                <a href="./escuela.html">¡Soy una escuela!</a>
              </div>
            </div>
          </div>
          <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
          <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
        </ul>
      </header>
    </div>

    <div class="migasPan">
      <a style="font-weight: bold">Inicio</a>
    </div>

    <div class="containerN">
      <div class="containerLeft">
        <h2>
          <img loading="lazy" src="../images/cruz.png" alt="" width="16" height="16">
          <a href="./nosotros.html">¿Quiénes somos?</a>
        </h2>
        <p>
          JuegaTerapia es una <a href="https://es.wikipedia.org/wiki/Fundaci%C3%B3n_(derecho)">Fundación</a> creada en 2010 por Mónica Esteban. Utilizamos los juegos para poder ayudar a los niños y niñas hospitalizados
          para animarlos y poder sacarles una sonrisa.<br> Al estar fuera de casa, lejos de sus faamilias y en un ambiente como es el hospital, los pequeñines se 
          sienten tristes y desanimados. Sin embargo, mediante los juegos y los <a href="./proyectos.html">Jardines</a> que creamos, pueden volver a conectarse con el mundo, 
          olvidarse de donde están y sacarles la mejor de sus <strong>sonrisas</strong>. 
        </p>
      </div>
  
      <div class="containerRight">
        <h2>
          <img loading="lazy" src="../images/cruz.png" alt="" width="16" height="16">
          <a href="./proyectos.html">¿Qué hacemos?</a>
        </h2>
        <p>
          Nuestro objetivo principal es devolver la sonrisa a estos pequeñines. Con este fin en mente hacemos lo siguiente:
          <ul>
            <li>Mediante las donaciones de consolas, juegos y entretenimiento que nos hacéis, somos capaces de entregárselas a estos peques</li>
            <li>Tenemos varios proyectos de crear áreas de entretenimiento en diferentes Hospitales que llamamos <a href="./proyectos.html">Jardines</a></li>
            <li>También ayudamos monetariamente a la investigación contra el <a href="https://www.cancer.gov/espanol/investigacion/areas/cancer-infantil">Cáncer Infantil</a></li>
          </ul>
        </p>
      </div>
  
      <div class="containerLeft">
        
        <h2>
          <img loading="lazy" src="../images/cruz.png" alt="" width="16" height="16">
          <a href="./donar.html">¿Cómo colaborar?</a>
        </h2>
        <p>
          ¡Tienes muchísimas formas diferentes de ayudar a estos peques!
          <ul>

            <li>Ya sea mediante bizum, transferencia, SMS o tarjeta, puedes ayudar <a href="./donar.html">Donando</a> o contribuyendo a la creación de los <a href="./proyectos.html">Jardines</a>.</li>

            <li>
              Como <a href="./persona.html">Persona Solidaria</a> puedes:
              <ul>
                <li>Donar consolas, juegos y entretenimiento, ya sea usado o no</li>
                <li>Haciéndote <a href="./persona.html">Socio</a> de JuegaTerapia</li>
                <li>Siendo <a href="./persona.html">Voluntario</a> y ayudando a sacar la mejor de las sonrisas</li>
                <li>Comprándo en nuestra <a href="">Tienda Solidaria</a></li>
              </ul>

            <li>
              ¡Las <a href="./empresa.html">Empresas</a> también pueden colaborar!
            </li>

            <li>
              ¡Tampoco nos olvidamos de las <a href="./escuela.html">Escuelas</a> con numerosos eventos, carreras y actos solidarios!
            </li>
            </li>
          </ul>
        </p>
      </div>
  
      <div class="containerPo">
      </div>
    </div>

    <h3 class="titulo">Las últimas noticias</h3>

    <!--El carrusel de ultimas noticias-->
    <!--Images carousel-->

    <div class="containerCa" id="slider">
        <div id="allpic">
          <img src="../images/noticia-studio.png" alt="Un estudio pionero revela que el uso de los videojuegos favorece la curación de los niños enfermos de cáncer" />
        </div>
        <div id="allpic">
          <img src="../images/noticia-cine.png" alt="Juegaterapia inaugura su tercer cine en Zaragoza"/>
        </div>
      <div id="allpic">
          <img src="../images/noticia-Sara.png" alt="Juegaterapia presenta el nuevo babypelón de Sara Carbonero"/>
        </div>
      <div id="allpic">
          <img src="../images/noticia-retiro.jpg" alt="Juegaterapia lleva el Retiro a los pasillos del Niño Jesús"/>
        </div>
      <div id="allpic">
          <img src="../images/noticia-Laura.jpg" alt="Los Babypelones llegan a Italia"/>
        </div>
      
    </div>


    <h3 class="titulo" style="padding-top:200px;">Jugadores de primera</h3>
    <table style="border: hidden; padding-left: 100px; padding-bottom: 200px;">
      <tbody>
        <tr>
          <td style="border: hidden;">
            <a href="https://www.playstation.com/es-es/"><img src="../images/logo_sony.png" alt="Sony"></a>
          </td>
          <td style="border: hidden;">
            <a href="https://www.youtube.com/user/L3TCraft"><img src="../images/L3Tcraft-1-1.png" alt="L3Tcraft"></a>
          </td>
          <td style="border: hidden;">
            <a href="http://www.envialia.com/"><img src="../images/logo_envialia.png" alt="Envialia"></a>
          </td>
          <td style="border: hidden;">
            <a href="https://entradium.com/"><img src="../images/entradium_logo-1.png" alt="Entradium"></a>
          </td>
          <td style="border: hidden;">
            <a href="https://www.iberiancare.com/"><img src="../images/cabecera-iberian-care.png" alt="IberianCare"></a>
          </td>
        </tr>
      </tbody>
    </table>

    <!--Pie de página-->
    <footer class="footer">
      <div class="footer__addr">
        <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
            
        <h3>Contacto</h3>
        
        <address>
          Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
          <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
          <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
        </address>
      </div>
      
      <ul class="footer__nav">
        <li class="nav__item">
          <h3 class="nav__title">¿Quiénes somos?</h3>
    
          <ul class="nav__ul">
            <li>
              <a href="./nosotros.html">Nosotros</a>
            </li>
    
            <li>
              <a href="./equipo.html">Nuestro Equipo</a>
            </li>
                
            <li>
              <a href="./premios.html">Nuestros Premios</a>
            </li>
          </ul>
        </li>
        
        <li class="nav__item">
          <h3 class="nav__title">¿Cómo colaborar?</h3>
          
          <ul class="nav__ul">
            <li>
              <a href="./persona.html">¡Soy una Persona!</a>
            </li>
    
            <li>
              <a href="./donar.html">Quiero Donar</a>
            </li>
                
            <li>
              <a href="./empresa.html">¡Soy una Empresa!</a>
            </li>

            <li>
              <a href="./escuela.html">¡Soy una Escuela!</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h3 class="nav__title">¿Qué hacemos?</h3>
          
          <ul class="nav__ul">
            <li>
              <a href="./proyectos.html">Nuestros Proyectos</a>
            </li>
          </ul>
        </li>
        
        <li class="nav__item">
          <h3 class="nav__title">Legal</h3>
          
          <ul class="nav__ul">
            <li>
              <a href="./privacidad.html">Política de Privacidad</a>
            </li>
            
            <li>
              <a href="./tuso.html">Términos de Uso</a>
            </li>
          </ul>
        </li>

        <li class="nav__item">
          <h3 class="nav__title">Redes Sociales</h3>
          
          <ul class="nav__ul">
            <li>
              <a href="./tuso.html"><img src="https://www.facebook.com/juegaterapia" alt="Facebook"></a>
            </li>

            <li>
              <a href="./privacidad.html"><img src="https://www.instagram.com/juegaterapiaOrg/" alt="Instagram"></a>
            </li>
            
            <li>
              <a href="./tuso.html"><img src="https://twitter.com/juegaterapia" alt="Twitter"></a>
            </li>

            <li>
              <a href="./tuso.html"><img src="https://es.linkedin.com/company/juegaterapia" alt="LinkedIn"></a>
            </li>

            <li>
              <a href="./tuso.html"><img src="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA" alt="Youtube"></a>
            </li>
            
          </ul>
        </li>

      </ul>
      
    </footer>
</html>
