<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 
  <body class="body">
    <div class="containerP">
        Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
        <header class="header">
          
  
            <div class="logo">
              <a href="./index.html"><img src="../images/icono.png" alt="" width="50" height="70">
              JuegaTerapia</a>
            </div>
    
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    
            <ul class="menu">
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./nosotros.html">Nosotros</a>
                  </div>
                  <div class="line">
                    <a href="./equipo.html">Nuestro Equipo</a>
                  </div>
                </div>
              </div>
    
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./persona.html">¡Soy una persona!</a>
                  </div>
                  <div class="line">
                    <a href="./donar.html">Quiero Donar</a>
                  </div>
                  <div class="line">
                    <a href="./empresa.html">¡Soy una empresa!</a>
                  </div>
                  <div class="line">
                    <a href="./escuela.html">¡Soy una escuela!</a>
                  </div>
                </div>
              </div>
              <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
              <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
            </ul>
          </header>
      </div>
  
      <div class="migasPan">
        <a href="./index.html">Inicio</a> <a style="font-weight: bold">Nosotros</a>
      </div>

      <h1>Nosotros</h1>
      <hr color="#fc2c00">

      <p>JuegaTerapia es una <a href="https://es.wikipedia.org/wiki/Fundaci%C3%B3n_(derecho)">Fundación</a> creada en 2010 por Mónica Esteban. Utilizamos los juegos para poder ayudar a los niños y niñas hospitalizados
        para animarlos y poder sacarles una sonrisa.<br> Al estar fuera de casa, lejos de sus faamilias y en un ambiente como es el hospital, los pequeñines se 
        sienten tristes y desanimados. Sin embargo, mediante los juegos y los <a href="./proyectos.html">Jardines</a> que creamos, pueden volver a conectarse con el mundo, 
        olvidarse de donde están y sacarles la mejor de sus <strong>sonrisas</strong>. </p>
      <br>
      <br>
      <iframe class="l" width="560" height="315" src="https://www.youtube.com/embed/pb6JDRVE5lU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      <iframe class="r" width="560" height="315" src="https://www.youtube.com/embed/-XWOfwewboo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
      <h3 class="titulo">Memorias</h3>
      <p>Cada año publicamos la memoria anual, donde explicamos todos nuestros proyectos, logros y las miles de sonrisas que cada peque nos ha regalado.</p>

      <table class="table">
        <tbody>
          <tr class="flexbox-container">
            <td style="border: hidden;">
              <a href="../pdf/Memoria-2020-Juegaterapia.pdf"><img src="../images/memoria2020.jpg" alt="Memoria 2020"></a>
            </td>
            <td style="border: hidden;">
              <a href="../pdf/Memoria-Juegaterapia-2019.pdf"><img src="../images/memoria2019.jpg" alt="Memoria 2019"></a>
            </td>
            <td style="border: hidden;">
              <a href="../pdf/memoria2018-ok.pdf"><img src="../images/memoria2018.jpg" alt="Memoria 2018"></a>
            </td>
            <td style="border: hidden;">
              <a href="../pdf/Memoria-Juegaterapia-2017.pdf"><img src="../images/memoria2017.jpg" alt="Memoria 2017"></a>
            </td>
            <td style="border: hidden;">
              <a href="../pdf/Memoria-Juegaterapia-20161.pdf"><img src="../images/memoria2016.jpg" alt="Memoria 2016"></a>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="titulo">Auditorías</h3>
      <p>Todos los años, nos ayudan con la auditorias de la Fundación, muchas gracias por todo, y por vuestro trabajo y esfuerzo.</p>
      
      <table style="border: hidden; padding-bottom: 150px;">
        <tbody>
          <tr class="flexbox-container">
            <td class="td">
              <a href="../pdf/aud-2020.pdf"><button class="button">
                <span class="button__text">
                  <span>A</span><span>u</span>d</span><span>i</span><span>t</span><span>o</span><span>r</span><span>í</span><span>a</span><span>  </span> <span>2</span><span>0</span><span>2</span><span>0</span>
                </span>
                <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
                  <defs>
                    <clipPath id="myClip">
                      <rect x="0" y="0" width="100%" height="50%" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#myClip)">
                    <g id="money">
                      <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    </g>
                    <g id="creditcard">
                      <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
                      <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
                    </g>
                  </g>
                  <g id="wallet">
                    <path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
                    <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
                  </g>
              
                </svg>
              </button></a>
            </td>
            <td class="td">
              <a href="../pdf/aud-2019.pdf"><button class="button">
                <span class="button__text">
                  <span>A</span><span>u</span>d</span><span>i</span><span>t</span><span>o</span><span>r</span><span>í</span><span>a</span><span>  </span> <span>2</span><span>0</span><span>1</span><span>9</span>
                </span>
                <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
                  <defs>
                    <clipPath id="myClip">
                      <rect x="0" y="0" width="100%" height="50%" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#myClip)">
                    <g id="money">
                      <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    </g>
                    <g id="creditcard">
                      <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
                      <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
                    </g>
                  </g>
                  <g id="wallet">
                    <path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
                    <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
                  </g>
              
                </svg>
              </button></a>
            </td>
            <td class="td">
              <a href="../pdf/aud-2018.pdf"><button class="button">
                <span class="button__text">
                  <span>A</span><span>u</span>d</span><span>i</span><span>t</span><span>o</span><span>r</span><span>í</span><span>a</span><span>  </span> <span>2</span><span>0</span><span>1</span><span>8</span>
                </span>
                <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
                  <defs>
                    <clipPath id="myClip">
                      <rect x="0" y="0" width="100%" height="50%" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#myClip)">
                    <g id="money">
                      <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    </g>
                    <g id="creditcard">
                      <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
                      <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
                    </g>
                  </g>
                  <g id="wallet">
                    <path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
                    <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
                  </g>
              
                </svg>
              </button></a>
            </td>
            <td class="td">
              <a href="../pdf/aud-2017.pdf"><button class="button">
                <span class="button__text">
                  <span>A</span><span>u</span>d</span><span>i</span><span>t</span><span>o</span><span>r</span><span>í</span><span>a</span><span>  </span> <span>2</span><span>0</span><span>1</span><span>7</span>
                </span>
                <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
                  <defs>
                    <clipPath id="myClip">
                      <rect x="0" y="0" width="100%" height="50%" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#myClip)">
                    <g id="money">
                      <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    </g>
                    <g id="creditcard">
                      <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
                      <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
                    </g>
                  </g>
                  <g id="wallet">
                    <path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
                    <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
                  </g>
              
                </svg>
              </button></a>
            </td>
            <td class="td">
              <a href="../pdf/aud-2016.pdf"><button class="button">
                <span class="button__text">
                  <span>A</span><span>u</span>d</span><span>i</span><span>t</span><span>o</span><span>r</span><span>í</span><span>a</span><span>  </span> <span>2</span><span>0</span><span>1</span><span>6</span>
                </span>
                <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
                  <defs>
                    <clipPath id="myClip">
                      <rect x="0" y="0" width="100%" height="50%" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#myClip)">
                    <g id="money">
                      <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    </g>
                    <g id="creditcard">
                      <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                      <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
                      <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
                    </g>
                  </g>
                  <g id="wallet">
                    <path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                    <path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
                    <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
                  </g>
              
                </svg>
              </button></a></a>
            </td>
          </tr>
        </tbody>
      </table>

      


      <footer class="footer">
        <div class="footer__addr">
          <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
          <h3>Contacto</h3>
          
          <address>
            Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
            <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
            <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h3 class="nav__title">¿Quiénes somos?</h3>
      
            <ul class="nav__ul">
              <li>
                <a href="./nosotros.html">Nosotros</a>
              </li>
      
              <li>
                <a href="./equipo.html">Nuestro Equipo</a>
              </li>
                  
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">¿Cómo colaborar?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./persona.html">¡Soy una Persona!</a>
              </li>
      
              <li>
                <a href="./donar.html">Quiero Donar</a>
              </li>
                  
              <li>
                <a href="./empresa.html">¡Soy una Empresa!</a>
              </li>
  
              <li>
                <a href="./escuela.html">¡Soy una Escuela!</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h3 class="nav__title">¿Qué hacemos?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./proyectos.html">Nuestros Proyectos</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">Legal</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./privacidad.html">Política de Privacidad</a>
              </li>
              
              <li>
                <a href="./tuso.html">Condiciones de Uso</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h3 class="nav__title">Redes Sociales</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="https://www.facebook.com/juegaterapia"><img src="../images/i-facebook.png" alt="Facebook" width="30" height="30">Facebook</a>
              </li>
  
              <li>
                <a href="https://www.instagram.com/juegaterapiaOrg/"><img src="../images/i-instagram.png" alt="Instagram" width="30" height="30">Instagram</a>
              </li>
              
              <li>
                <a href="https://twitter.com/juegaterapia"><img src="../images/i-twitter.png" alt="Twitter" width="30" height="30">Twitter</a>
              </li>
  
              <li>
                <a href="https://es.linkedin.com/company/juegaterapia"><img src="../images/i-linkedin.png" alt="LinkedIn" width="30" height="30">LinkedIn</a>
              </li>
  
              <li>
                <a href="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA"><img src="../images/i-youtube.png" alt="Youtube" width="30" height="30">Youtube</a>
              </li>
              
            </ul>
          </li>
        </ul>
      </footer>
  </body>
</html>