<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 
  <body class="body">
    <div class="containerP">
        Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
        <header class="header">
          
  
            <div class="logo">
              <a href="./index.html"><img src="../images/icono.png" alt="" width="50" height="70">
              JuegaTerapia</a>
            </div>
    
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    
            <ul class="menu">
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./nosotros.html">Nosotros</a>
                  </div>
                  <div class="line">
                    <a href="./equipo.html">Nuestro Equipo</a>
                  </div>
                </div>
              </div>
    
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./persona.html">¡Soy una persona!</a>
                  </div>
                  <div class="line">
                    <a href="./donar.html">Quiero Donar</a>
                  </div>
                  <div class="line">
                    <a href="./empresa.html">¡Soy una empresa!</a>
                  </div>
                  <div class="line">
                    <a href="./escuela.html">¡Soy una escuela!</a>
                  </div>
                </div>
              </div>
              <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
              <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
            </ul>
          </header>
      </div>
  
      <div class="migasPan">
        <a href="./index.html">Inicio</a> <a style="font-weight: bold">¡Soy una Persona!</a>
      </div>

      <h1>¡Soy una Persona!</h1>
      <hr color="#fc2c00">
      <p>Todo el mundo podemos aportar nuestro granito de arena y nosotros te damos muchas opciones para que 
        puedas aportar el tuyo. ¡Los peques te lo agradecerán!
        <ul>
          <li class="lista"><a href="#Donar">Donando tu consola o juego</a></li>
          <li class="lista"><a href="#Socio">Haciéndote Socio</a></li>
          <li class="lista"><a href="#Voluntario">Siendo Voluntario</a></li>
        </ul>
      </p>
      <h3 class="titulo" id="Donar">Donar tu Consola o Juego</h3>
      <div class="containerAux">
        <div class="containerTabla">
          <table class="demo">
            <caption><p><strong>Videojuegos y Consolas</strong></p></caption>
            <thead>
            <tr>
              <th class="th1" colspan="2">SÍ</th>
              <th class="th2" colspan="2">NO</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="td1">PS5</td>
              <td class="td1">PS4</td>
              <td class="td2">SOBREMESA</td>
              <td class="td2">PORTÁTILES</td>
            </tr>
            <tr>
              <td class="td1">SWITCH</td>
              <td class="td1">Wii U</td>
              <td class="td2">PS2</td>
              <td class="td2">PSP</td>
            </tr>
            <tr>
              <td class="td1">X BOX ONE</td>
              <td class="td1">NINTENDO DS</td>
              <td class="td2">PS3</td>
              <td class="td2">X BOX 360</td>
            </tr>
            <tr>
              <td class="td1">NINTENDO 3DS</td>
              <td class="td1">PSVITA</td>
              <td class="td2">Wii</td>
              <td class="td2">JUEGOS PC/DVD</td>
            </tr>
            <tr>
              <td class="td1">PS SLIM</td>
              <td class="td1"></td>
              <td class="td2">PSP</td>
              <td class="td2"></td>
            </tr>
            <tbody>
          </table>
        </div>
        <div class="flexbox-container-consL">
          <h2>1 -  Tablets, consolas y videojuegos</h2>
          <p>Por favor, envía sólo tablets, consolas, videojuegos o sus mandos, cables o cualquier otra cosa que tenga que ver con las consolas. Los accesorios tipo tabla wii fit,  guitar hero, rock band, dj hero, volantes y/o similares no nos los envíes,  ya que nos cuesta mucho encontrarles nuevos dueños</p>
        </div>

        <div class="flexbox-container-consR">
          <h2>2 -   Funcionamiento, Limpieza y Embalaje</h2>
          <p>Por favor, antes de nada comprueba que la consola funcione. Además, asegúrate de meter todos los cables necesarios y, si pudes, sus mandos. <br> Si antes de empacarla le das una pequeña limpieza nos vendría super bien ya que, al estar en un hospital, todo tiene que llegar super limpio y eso nos quita muuuucho tiempo.</b></p>
        </div>

        <div class="flexbox-container-consL">
          <h2>3 -  Déjanos tus datos</h2>
          <p>Envíanos tus datos dentro de la caja: Nombre y mail de contacto para que podamos avisarte cuando la hayamos recibido y para cuando hayamos donado tu consola. Además, si quieres, ¡le proporcionaremos estos daremos al pequeñín para que te pueda dar las gracias!</p>
        </div>
      
        <div class="flexbox-container-consR">
          <h2>4 -  Consolas vintage</h2>
          <p>Las consolas vintage son encantan pero son difíciles de poner en un hospital. Por eso, las venderemos en nuestro mercadillo solidario y con los beneficios compraremos consolas para los peques. ¿Cómo sabes si una consola es vintage? Muy fácil, cualquiera que no aparezca en la tabla</p>
        </div>

        <div class="flexbox-container-consL">
          <h2>5 -  Envianosla Gratis gracias a Envialia</h2>
          <p>Envía tu consola o videojuegos sin ningún coste para ti, a través de las delegaciones de Envialia. El material irá directo a nuestro almacén, donde podremos revisarlo y prepararlo para entregárselo a un peque. Encuentra <a href="http://www.envialia.com/juegaterapia/">tu delegación de más cercana</a>. <br> Si tienes algún problema en el momento de realizar el envío, indica los siguientes datos al agente de Envialia para que te ayude a encontrar la delegación de cargo correspondiente: <b>Nº de cliente: 79,  Agencia de cargo: 2803</b></p>
        </div>
        
      </div>
      <h3 class="titulo" id="Socio">Hacerte Socio</h3>
      
        <p>Nosotros tenemos claro que si los peques no se rinden, nosotros mucho menos. Queremos luchar codo con codo con estos pequeños valientes.
          Si tú también quieres unirte a esta batalla puedes <a href="#SocioBoton">Hacerte Socio</a>. 
          <br>
          ¡Tú mismo eliges el importe con el que nos puedes ayudar mensualmente sin ninguna preocupación! Y también te regalamos una pulserita
        </p>
      <div class="containerButton">
        <button class="custom-btn btn-5" id="SocioBoton"><span>Hacerte Socio</span></button>
      </div>

      <h3 class="titulo" id="Voluntario">Ser Voluntario</h3>
      <div class="containerTabla">
        <table style="border: hidden;">
          <tr>
            <td>
              <img src="../images/v-gr.png" alt="Hospital Gregorio Marañón" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/v-12.png" alt="Hospital 12 de Octubre" width="200px" height="200px">
              
            </td>
            <td>
              <img src="../images/v-paz.png" alt="Hospital La Paz" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/v-jesus.png" alt="Hospital Niño Jesús" width="200px" height="200px">
            </td>
            <td>
              <img src="../images/v-fund.png" alt="Oficina Fundación" width="200px" height="200px">
            </td>
          </tr>
          <tr>
            <td>
              <h3>Hospital Gregorio Marañón</h3>
            </td>
            <td>
              <h3>Hospital 12 de Octubre</h3>
            </td>
            <td>
              <h3>Hospital La Paz</h3>
            </td>
            <td>
              <h3>Hospital Niño Jesús</h3>
            </td>
            <td>
              <h3>Oficina Fundación</h3>
            </td>
          </tr>
          <tr>
            <td >
              <h4>Todos los miércoles y viernes<br> de 4 a 6 ¡proyectamos una<br> película!. Y  a veces hacemos<br> fiestas superchulas. Los<br> voluntarios de este grupo se <br>lo pasan en grande con todos <br>los peques que bajan<br> semanalmente a ver sus<br> pelis preferidas.</h4>
            </td>
            <td>
              <h4>Todos los jueves y viernes de<br> 5 a 7 , abrimos la sala de "La<br> Máquina de los Sueños" para<br> que vengan los peques y<br> jueguen a la consola y<br> videojuego que quieran,<br> tenemos ps4, la wi swich, x<br> box one y ¡una sala especial<br> de Realidad Virtual de Sony !</h4>
            </td>
            <td>
              <h4>Tenemos instaladas mas de 29<br> consolas PS3 de Sony,<br>  entre las 6ª y 7ª planta del<br> hospi, una vez por semana<br> los voluntarios van a jugar<br> con las consolas, enseñarles<br> cómo se conectan, a ver que<br> videojuegos quieren, vamos<br> a ¡pasar un buen rato con los<br> peques!</h4>
            </td>
            <td>
              <h4>Los voluntarios van varias<br> veces por semana a ver a los<br> peques por las mañanas a<br> las habitaciones, regalando<br> consolas, videojuegos,<br> babypelones, con un sólo fin<br> que ¡La quimio jugando se<br> pase Volando! ¿te apuntas?</h4>
            </td>
            <td>
              <h4>Todos los lunes nos llegan<br> consolas y videojuegos<br> desde todas partes de<br> España, nuestros voluntarios<br> nos echan una mano en<br> recibirlas, ver el estado, y<br> prepararlas para poder ser<br> donadas, y casi todas las<br> semanas viene algún peque<br> a vernos y que juguemos y le<br> regalemos algun juego</h4>
            </td>
          </tr>
        </table>
      </div>







      <footer class="footer">
        <div class="footer__addr">
          <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
          <h3>Contacto</h3>
          
          <address>
            Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
            <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
            <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h3 class="nav__title">¿Quiénes somos?</h3>
      
            <ul class="nav__ul">
              <li>
                <a href="./nosotros.html">Nosotros</a>
              </li>
      
              <li>
                <a href="./equipo.html">Nuestro Equipo</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">¿Cómo colaborar?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./persona.html">¡Soy una Persona!</a>
              </li>
      
              <li>
                <a href="./donar.html">Quiero Donar</a>
              </li>
                  
              <li>
                <a href="./empresa.html">¡Soy una Empresa!</a>
              </li>
  
              <li>
                <a href="./escuela.html">¡Soy una Escuela!</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h3 class="nav__title">¿Qué hacemos?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./proyectos.html">Nuestros Proyectos</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">Legal</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./privacidad.html">Política de Privacidad</a>
              </li>
              
              <li>
                <a href="./tuso.html">Términos de Uso</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h3 class="nav__title">Redes Sociales</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./tuso.html"><img src="https://www.facebook.com/juegaterapia" alt="Facebook"></a>
              </li>
  
              <li>
                <a href="./privacidad.html"><img src="https://www.instagram.com/juegaterapiaOrg/" alt="Instagram"></a>
              </li>
              
              <li>
                <a href="./tuso.html"><img src="https://twitter.com/juegaterapia" alt="Twitter"></a>
              </li>
  
              <li>
                <a href="./tuso.html"><img src="https://es.linkedin.com/company/juegaterapia" alt="LinkedIn"></a>
              </li>
  
              <li>
                <a href="./tuso.html"><img src="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA" alt="Youtube"></a>
              </li>
              
            </ul>
          </li>
        </ul>
      </footer>
  </body>
</html>