<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/piePag.css">
    <title>JuegaTerapia</title>
  </head> 
  <body class="body">
    <div class="containerP">
        Contáctanos: (+34)915 75 69 04 - hola@juegaterapia.org
    </div>

    <div class="containerEsp">
        <header class="header">
          
  
            <div class="logo">
              <a href="./index.html"><img src="../images/icono.png" alt="" width="50" height="70">
              JuegaTerapia</a>
            </div>
    
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    
            <ul class="menu">
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿QUIÉNES SOMOS?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./nosotros.html">Nosotros</a>
                  </div>
                  <div class="line">
                    <a href="./equipo.html">Nuestro Equipo</a>
                  </div>
                </div>
              </div>
    
              <div class="dropdown">
                <li style="color: var(--blue);"><a>¿CÓMO COLABORAR?</a></li>
                <div class="dropdown-content">
                  <div class="line">
                    <a href="./persona.html">¡Soy una persona!</a>
                  </div>
                  <div class="line">
                    <a href="./donar.html">Quiero Donar</a>
                  </div>
                  <div class="line">
                    <a href="./empresa.html">¡Soy una empresa!</a>
                  </div>
                  <div class="line">
                    <a href="./escuela.html">¡Soy una escuela!</a>
                  </div>
                </div>
              </div>
              <li><a style="color: var(--blue);" href="./proyectos.html">¿QUÉ HACEMOS?</a></li>
              <li><a style="color: var(--blue);" href="#">¡NUESTRA TIENDA!</a></li>
            </ul>
          </header>
      </div>
  
      <div class="migasPan">
        <a href="./index.html">Inicio</a> <a style="font-weight: bold">Política de Privacidad</a>
      </div>

      <h1>Política de Privacidad</h1>
      <hr color="#fc2c00">

      <h5 class="tituloLegalG">
        Política de Privacidad
      </h5>
      <p>
        De conformidad con lo establecido en la normativa vigente en Protección de Datos de Carácter Personal, le informamos que sus datos serán incorporados al sistema de tratamiento titularidad de FUNDACIÓN JUEGATERAPIA con CIF G86557097 y domicilio social sito en Nuñez de Balboa 56 , Bajo A. 28001, MADRID, con las finalidades y plazos de conservación descritos a continuación.
      </p>
      <div class="containerLegal">
        <ul>
          <li class="li">Finalidad: Gestionar su inscripción como voluntario de FUNDACIÓN JUEGATERAPIA</li>
          <li class="li">Plazo de conservación: 10 años en cumplimiento de la Ley 7/2012, de 29 de octubre, de modificación de la normativa tributaria y presupuestaria y de adecuación de la normativa financiera para la intensificación de las actuaciones en la prevención y lucha contra el fraude</li>
          <li class="li">Base legítima: El consentimiento del interesado y la ejecución de un contrato.</li>
          <li class="li">Cesiones: Sus datos solamente serán cedidos a los prestadores de servicio relacionados con nuestra entidad, necesarios para tramitar su alta como voluntario.</li>
          <li class="li">Finalidad: Tramitar su inscripción como socio, así como gestionar las condiciones y ventajas de ser socio de FUNDACIÓN JUEGATERAPIA</li>
          <li class="li">Plazo de conservación: Mientras perdure el consentimiento prestado exceptuando aquellos casos que exista obligación legal de conservación.</li>
          <li class="li">Base legítima: El consentimiento del interesado.</li>
          <li class="li">Cesiones: Sus datos solamente serán cedidos a terceros en caso de obligación legal.</li>
          <li class="li">Finalidad: Tramitación y gestión de las donaciones y/o colaboraciones económicas fijas o esporádicas</li>
          <li class="li">Plazo de conservación: 10 años, en cumplimiento de la Ley 10/2010, de 28 de abril, de prevención del blanqueo de capitales y de la financiación del terrorismo.</li>
          <li class="li">Base legítima: El consentimiento del interesado.</li>
          <li class="li">Cesiones: sus datos serán comunicados en caso de ser necesario a Agencia Tributaria, Bancos y Cajas con la finalidad de cumplir con las obligaciones tributarias y fiscales establecidas en la normativa aplicable. Además, se informa que la base legitimadora de la cesión es el cumplimiento de una ley.</li>
          <li class="li">Finalidad: Usaremos sus datos con la finalidad de atender sus consultas</li>
          <li class="li">Plazo de conservación: Mientras dure el consentimiento prestado</li>
          <li class="li">Base legítima: El consentimiento del interesado.</li>
          <li class="li">Cesiones: Sus datos solamente serán cedidos a terceros en caso de obligación legal.</li>
          <li class="li">Finalidad: Usaremos sus datos con la finalidad de enviarle comunicaciones comerciales que puedan resultar de su interés.</li>
          <li class="li">Plazo de conservación: Mientras dure el consentimiento prestado</li>
          <li class="li">Base legítima: El consentimiento del interesado</li>
          <li class="li">Cesiones: Sus datos solamente serán cedidos a terceros en caso de obligación legal.</li>
          <li class="li">Finalidad: Usaremos sus datos con la finalidad de tramitar el envío de su consola.</li>
          <li class="li">Plazo de conservación: El plazo estrictamente necesario para gestionar el envío.</li>
          <li class="li">Base legítima: El consentimiento del interesado.</li>
          <li class="li">Cesiones: Sus datos solamente serán cedidos a terceros en caso de obligación legal.</li>
        </ul>
    </div>
      <p>
        FUNDACIÓN JUEGATERAPIA informa que procederá a tratar los datos de manera lícita, leal, transparente, adecuada, pertinente, limitada, exacta y actualizada. Es por ello que FUNDACIÓN JUEGATERAPIA se compromete a adoptar todas las medidas razonables para que estos se supriman o rectifiquen sin dilación cuando sean inexactos.<br>
        De acuerdo con los derechos que le confiere el la normativa vigente en protección de datos podrá ejercer los derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición al tratamiento de sus datos de carácter personal así como del consentimiento prestado para el tratamiento de los mismos, dirigiendo su petición a la dirección postal indicada más arriba o al correo electrónico hola@juegaterapia.org.<br>
        Podrá dirigirse a la Autoridad de Control competente para presentar la reclamación que considere oportuna.
      </p>
      <h5 class="tituloLegalG">
        Condiciones de Uso
      </h5>
      <p>
        En cumplimiento de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), FUNDACION JUEGATERAPIA informa que es titular del sitio web www.juegaterapia.org. De acuerdo con la exigencia del artículo 10 de la citada Ley, FUNDACIÓN JUEGATERAPIA informa de los siguientes datos:<br>
        El titular de este sitio web es FUNDACIÓN JUEGATERAPIA, con CIF G86557097 y domicilio social en Nuñez de Balboa 56 Bajo A, MADRID, inscrita en el Registro de Fundaciones del  Ministerio de Sanidad, Seguridad Social e Igualdad 28-1699. La dirección de correo electrónico de contacto con la empresa es: hola@juegaterapia.org.
      </p>
      <h5 class="tituloLegal">
        Usuario y régimen de responsabilidades
      </h5>
      <p>
        La navegación, acceso y uso por el sitio web de FUNDACIÓN JUEGATERAPIA confiere la condición de usuario, por la que se aceptan, desde la navegación por el sitio web de FUNDACIÓN JUEGATERAPIA, todas las condiciones de uso aquí establecidas sin perjuicio de la aplicación de la correspondiente normativa de obligado cumplimiento legal según el caso.<br>
        El sitio web de FUNDACIÓN JUEGATERAPIA proporciona gran diversidad de información, servicios y datos. El usuario asume su responsabilidad en el uso correcto del sitio web. Esta responsabilidad se extenderá a:<br>
        La veracidad y licitud de las informaciones aportadas por el usuario en los formularios extendidos por FUNDACIÓN JUEGATERAPIA para el acceso a ciertos contenidos o servicios ofrecidos por el web.<br>
        El uso de la información, servicios y datos ofrecidos por FUNDACIÓN JUEGATERAPIA contrariamente a lo dispuesto por las presentes condiciones, la Ley, la moral, las buenas costumbres o el orden público, o que de cualquier otro modo puedan suponer lesión de los derechos de terceros o del mismo funcionamiento del sitio web.
      </p>
      <h5 class="tituloLegal">
        Política de enlaces y exenciones de responsabilidad
      </h5>
      <p>
        FUNDACIÓN JUEGATERAPIA no se hace responsable del contenido de los sitios web a los que el usuario pueda acceder a través de los enlaces establecidos en su sitio web y declara que en ningún caso procederá a examinar o ejercitar ningún tipo de control sobre el contenido de otros sitios de la red. Asimismo, tampoco garantizará la disponibilidad técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su propiedad a los que se pueda acceder por medio de los enlaces.<br>
        FUNDACIÓN JUEGATERAPIA declara haber adoptado todas las medidas necesarias para evitar cualquier daño a los usuarios de su sitio web, que pudieran derivarse de la navegación por su sitio web. En consecuencia, FUNDACIÓN JUEGATERAPIA no se hace responsable, en ningún caso, de los eventuales daños que por la navegación por Internet pudiera sufrir el usuario
      </p>
      <h5 class="tituloLegal">
        Modificaciones
      </h5>
      <p>
        FUNDACIÓN JUEGATERAPIA se reserva el derecho a realizar las modificaciones que considere oportunas, sin aviso previo, en el contenido de su sitio web. Tanto en lo referente a los contenidos del sitio web, como en las condiciones de uso del mismo, o en las condiciones generales de contratación. Dichas modificaciones podrán realizarse a través de su sitio web por cualquier forma admisible en derecho y serán de obligado cumplimiento durante el tiempo en que se encuentren publicadas en el web y hasta que no sean modificadas válidamente por otras posteriores.
      </p>
      <h5 class="tituloLegal">
        Servicios de donación por internet
      </h5>
      <p>
        Ciertos contenidos de la website de FUNDACIÓN JUEGATERAPIA contienen la posibilidad de realizar donaciones por Internet. El uso de los mismos requerirá la lectura y aceptación obligatoria de las condiciones generales establecidas al efecto por FUNDACIÓN JUEGATERAPIA.
      </p>
      <h5 class="tituloLegal">
        Certificado SSL (Secure Sockets Layer)
      </h5>
      <p>
        El CERTIFICADO SSL proporciona autenticación, privacidad y seguridad de la información entre FUNDACION JUEGATERAPIA y el usuario.<br>
        FUNDACIÓN JUEGATERAPIA dispone de un certificado de seguridad que se utiliza por CERTIFICADO SSL para realizar conexiones seguras.<br>
        En este proceso se establecen varios parámetros para realizar la conexión de forma segura y se establece usando llaves preestablecidas, codificando y descodificando todos los datos enviados hasta que la conexión sea cerrada.
      </p>
      <h5 class="tituloLegal">
        Propiedad intelectual e industrial
      </h5>
      <p>
        FUNDACIÓN JUEGATERAPIA por sí misma o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de FUNDACIÓN JUEGATERAPIA. Serán, por consiguiente, obras protegidas como propiedad intelectual por el ordenamiento jurídico español, siéndoles aplicables tanto la normativa española y comunitaria en este campo, como los tratados internacionales relativos a la materia y suscritos por España.<br>
        Todos los derechos reservados. En virtud de lo dispuesto en la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de FUNDACIÓN JUEGATERAPIA.<br>
        El usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de FUNDACIÓN JUEGATERAPIA. Podrá visualizar los elementos del portal e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado. El usuario deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en  las páginas de FUNDACIÓN JUEGATERAPIA.
      </p>

      <h5 class="tituloLegal">
        Acciones legales, legislación aplicable y jurisdicción
      </h5>
      <p>
        FUNDACIÓN JUEGATERAPIA se reserva, asimismo, la facultad de presentar las acciones civiles o penales que considere oportunas por la utilización indebida de su sitio web y contenidos, o por el incumplimiento de las presentes condiciones.<br>
        La relación entre el usuario y el prestador se regirá por la normativa vigente y de aplicación en el territorio español. De surgir cualquier controversia las partes podrán someter sus conflictos a arbitraje o acudir a la jurisdicción ordinaria cumpliendo con las normas sobre jurisdicción y competencia al respecto. FUNDACION JUEGATERAPIA tiene su domicilio en MADRID, España.
      </p>




      <footer class="footer">
        <div class="footer__addr">
          <h3 class="footer__logo"><img src="../images/icono.png" width="60" height="80" alt="JuegaTerapia"></h3>              
              
          <h3>Contacto</h3>
          
          <address>
            Calle de Núñez de Balboa, 56, Bajo A, 28001 Madrid<br>
            <a class="footer__btn" href="tel:+34-915756904">Llámanos</a>
            <a class="footer__btn" href="mailto:hola@juegaterapia.org">Escríbenos</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h3 class="nav__title">¿Quiénes somos?</h3>
      
            <ul class="nav__ul">
              <li>
                <a href="./nosotros.html">Nosotros</a>
              </li>
      
              <li>
                <a href="./equipo.html">Nuestro Equipo</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">¿Cómo colaborar?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./persona.html">¡Soy una Persona!</a>
              </li>
      
              <li>
                <a href="./donar.html">Quiero Donar</a>
              </li>
                  
              <li>
                <a href="./empresa.html">¡Soy una Empresa!</a>
              </li>
  
              <li>
                <a href="./escuela.html">¡Soy una Escuela!</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h3 class="nav__title">¿Qué hacemos?</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./proyectos.html">Nuestros Proyectos</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h3 class="nav__title">Legal</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="./privacidad.html">Política de Privacidad</a>
              </li>
              
              <li>
                <a href="./tuso.html">Condiciones de Uso</a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <h3 class="nav__title">Redes Sociales</h3>
            
            <ul class="nav__ul">
              <li>
                <a href="https://www.facebook.com/juegaterapia"><img src="../images/i-facebook.png" alt="Facebook" width="30" height="30">Facebook</a>
              </li>
  
              <li>
                <a href="https://www.instagram.com/juegaterapiaOrg/"><img src="../images/i-instagram.png" alt="Instagram" width="30" height="30">Instagram</a>
              </li>
              
              <li>
                <a href="https://twitter.com/juegaterapia"><img src="../images/i-twitter.png" alt="Twitter" width="30" height="30">Twitter</a>
              </li>
  
              <li>
                <a href="https://es.linkedin.com/company/juegaterapia"><img src="../images/i-linkedin.png" alt="LinkedIn" width="30" height="30">LinkedIn</a>
              </li>
  
              <li>
                <a href="https://www.youtube.com/channel/UCFs-91-luX_8uUnnZDXphIA"><img src="../images/i-youtube.png" alt="Youtube" width="30" height="30">Youtube</a>
              </li>
              
            </ul>
          </li>
        </ul>
      </footer>
  </body>
</html>